*{
    margin: 0;
    padding: 0;
      font-family: "Manrope", sans-serif;
}
header{
    padding: 3vh;
    max-width: 1400px;
   margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rus{
    display: flex;
    align-items: center;
    gap: 1vh;
    background-color: #F4F4F5;
    padding: 2vh 2vh;
    border-radius: 10px;
}
.rus img{
    border: 2px solid grey;
    border-radius: 25%;
}
.sec1{
    margin-top: 5vh;
    max-width: 1400px;
    margin: auto;
    padding: 10vh 0vh;
    background-color: #F4F4F5;
    position: relative;
    margin-bottom: 20vh;
}
.sec1div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4vh;
    padding-left: 4%;
}
.racer{
    position: absolute;
    bottom: 0;
    right: 10vh;
    width: 40%;
}
.sec1div h4{
    font-size: 55px;
    font-weight: 500;
}
.sec1div img{
    width: 40%;
}
.tel button{
    border: none;
    background-color: #D7B18D;
    padding: 2vh 3vh;
    font-size: 20px;
    border-radius: 10px;
}
.tel{
    display: flex;
    align-items: center;
    gap: 2vh;
}
.tel i{
    color: white;
    background-color: #08A652;
    padding: 1.5vh;
    font-size: 30px;
    border-radius: 5px;
}
.sec1media{
    display: none;
}
.sec2{
     color: white;
    max-width: 1400px;
    margin: auto;
    background-color: #212731;
    padding: 5vh 0vh;
    position: relative;
}
.vector{
    width: 60%;
position: absolute;
bottom: 0;
right: 0;
}
.file{
    position: absolute;
    bottom: 0;
    right: 15vh;
    z-index: 1;
    width: 40.8%;
}
.sec2div{
       display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3vh;
    justify-content: space-around;
    padding-left: 3%;
}
.sec2div p{
font-size: 60px;
}
.span {
    display: flex;
    align-items: center;
    gap: 2vh;
}
.span span{
    background-color: #28303D;
    padding: 2vh 4vh;
}
.file2{
    display: none;
}
.sec3{
  max-width: 1400px;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5vh;
}
.grid{
    width: 96%;
    display: grid;
    gap: 5vh;
    grid-template-columns: repeat(4 ,24%);
    grid-template-rows: repeat(1 , 300px 140px);
}
.box{
    border: 2px solid rgba(0, 0, 0, 0.278);
    border-radius: 10px;
}
.p1{
    padding-bottom: 3vh;
    border-bottom: 1px solid grey;
}
.box11{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3vh;
    padding: 10%;
}
.butt{
    display: flex;
    align-items: center;
    gap: 1vh;
}
.butt button{
    border: none;
    padding: 1vh 2vh;
    border-radius: 5px;
}
 .but1{
    background-color: #D7B18D;
 }
 .but2{
   border: 1px solid #D7B18D !important;
    background-color: white;
 }
 .box22{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3vh;
    padding: 7% 10%;
 }
 .b1{
    padding-bottom: 3vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.297);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  .b2{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .sec4{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4vh;
    padding: 10vh 0vh;
 }
 .gridbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 24%);
    grid-template-rows: 170px  ;
    gap: 3vh;
 }
 .item{
    border: 2px solid rgba(0, 0, 0, 0.278);
 }
 .item11{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 2vh;
    align-items: start;
 }
 .it11{
    gap: 3.3vh;
 }
 .iti{
    width: 90%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2vh;
 }
 .it{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1vh;
 }
 .iti img{
    width: 40%;
 }
 .imgs{
    width: 20% !important;
 }
 .itp{
    border-radius: 5px ;
    padding: 1vh 13vh;
    border: 2px solid #E1C4A9 ;
    align-self: center;
 }
 .sec5{
    max-width: 1400px;
    margin: auto;
    background-color: #F4F4F5;
    margin-top: 20vh;
    padding: 5vh 0vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
 }
 .sec5div1{
    display: flex;
    align-items: center;
    gap: 8vh;
    background-color: white;
    border-radius: 5px;
    padding: 2vh 1vh;
 }
 .sec5div1 i{
    background-color: #F4F4F5;
    padding: 1.5vh;
    border-radius: 5px;
 }
 .sec5div2{
    display: flex;
    align-items: center;
    gap:1vh;
    background-color: #28303D;
    padding: 1vh 2vh;
    color: white;
    border-radius: 5px;
 }
 .ili{
    display: none;
 }
 .lastsec{
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
 }
 .lastsec h4{
    font-size: 15px;
    font-weight: 300;
    border: 1px solid black;
    padding: 1vh 2vh;
    border-radius: 50%;
 }
 .lastsec p{
    font-size: 15px;
 }
 .lastsec img{
    width: 10% !important;
 }
 .divv{
    display: flex;
    align-items: center;
    gap: 2vh;
 }
 footer{
    margin-top: 20vh;
    max-width: 1400px;
    margin: auto;
    padding: 5vh 0vh;
    background-color: #212731;
    position: relative;
    margin-bottom: 10vh;
 }
 .foot{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: start;
    color: white;
    padding-left: 5%;
    position: relative;
    z-index: 1;
 }
 .foot h1{
    font-size: 55px;
    font-weight:300;
 }
 .foot p{
    color: #7A7E84;
    font-size: 20px;
 }
 .foot h4{
    font-weight: 300;
    border-radius: 5px;
    padding: 2vh 4vh;
    font-size: 20px;
    background-color: #28303D;
 }
 .vec3{
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
 }
 .framee{
    position: absolute;
    bottom: 10%;
    left: 44%;
    z-index: 1;
 }
 .phone{
    width: 34.4%;
    position: absolute;
    bottom: 0;
    left: 55%;
    z-index: 1;
 }
 .footimg{
        display: flex;
      align-items: start;
      flex-direction: column;
      gap: 2vh;
    display: none;
 }
 .medphone{
    display: none;
 }
 .last{
    max-width: 1400px;
    margin: auto;
    height: 300px;
    background-color: #F4F4F4;
    margin-bottom: 5vh;
 }
 .lastp{
    display: none;
 }
@media (max-width:500px){
    header img{
        width: 30%;
    }
    .rus{
       background-color: white;
    }
    .sec1{
        display: none;
    }
    .sec1media{
        position: relative;
        width: 95%;
        margin: auto;
        display: flex;
        gap: 4vh;
        text-align: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
   .race{
    width: 100%;
    padding-left: 20%;
   }
    .sec1media h1{
        font-size: 40px;
    }
    .sec1media p{
        font-size: 20px;
    }
    .frame13{
        position: absolute;
       bottom: 20vh;
       width: 100% !important;
    }
    .tel2{
        width: 100%;
        position: absolute;
        bottom: 5vh;
    }
    .tel2 button{
        width: 80%;
    }
    .sec2{
        width: 100%;
        margin-top: 10vh;
    }
    .sec2div{
        width: 90%;
        margin: auto;
    }
    .sec2div p{
        font-size: 30px;
    }
    .span{
        flex-direction: column;
    }
    span{
        width: 80%;
        padding: 0;
    }
    .vector{
        display: none;
    }
    .file{
      display: none;
    }
    .file2{
        display: inline;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 52%;
    }
    .sec3{
        padding-top: 10vh;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    .grid{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .sec4{
        width: 90%;
        margin: auto;
    }
    .gridbox{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: start;
    }
    .item{
        width: 100%;
    }
    .sec5{
        margin-bottom: 5vh !important;
        width: 90%;
        margin: auto;
        gap: 4vh;
        background-color: white;
        flex-direction: column;
    }
    .sec5 h1{
        font-size: 30px;
    }
    .sec5div1{
        width: 100%;
        justify-content: space-between;
        border: 2px solid grey;
    }
    .ili{
        display: inline;
    }
    .ill{
        display: none;
    }
    .il{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .il p{
        background-color: #F4F4F5;
        padding: 1.7vh 4vh;
        border-radius: 5px;
    }
    .sec5div2{
        align-items: center;
        padding: 1vh 6vh;
        align-self: flex-end;
    }
    .lastsec{  
        align-items: start;
        width: 90%;
        margin: auto;
        gap: 4vh;
        flex-direction: column;
        margin-bottom: 5vh;
    }
    .lastsec p{
        font-size: 20px;
    }
    .lastsec img{
        display: none;
    }
    footer{
        padding: 2vh 0vh;
        width: 90%;
        margin: auto;
    }
    .foot h1{
        font-size: 20px;
    }
    footer  img{
        display: none;
    }
    .foot p{
        font-size: 15px;
    }
    .footimg{
      display: inline !important;
        display: flex !important;
      align-items: start !important;
      flex-direction: column !important;
      gap: 2vh !important;
    }
    .footimg img{
        display: inline !important;
    }
    .medphone{
        width: 60%;
        display: inline;
        position: absolute;
        bottom: -3vh;
        right: 0;
    }
    .last{
      padding-top: 10vh;
      padding-bottom: 10vh !important;
        width: 90%;
        margin: auto;
        background-color: white;
        height: 40vh;
    }
    .lastp{
        display: inline;
    }
}